<div class="row">
    <div class="col-9">
        <h3>Danh sách loại hàng</h3>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
        <p *ngIf='isFetching'>Loading....</p>
      <tbody  *ngIf="!isFetching">
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.tenLoai }}</td>
          <td><button class="btn btn-primary" (click)="editCategory(category.id)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="deleteCategory(category.id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </div>
    <div class="col-3">
        <h3>Thêm - sửa loại</h3>
        <form #categoryForm="ngForm" >
            <div class="form-group">
                <input class="form-control mt-2" type="text" placeholder="Nhập tên loại"[(ngModel)]="category.tenLoai" name="tenLoai"  #name="ngModel" required>
                <div style="color:red" *ngIf="name.invalid && name.touched">
                    Vui lòng nhập tên loại!
                </div>
            </div>  
            <div class="form-group btnX">
                <button class="btn btn-success center m-2" [disabled]="categoryForm.invalid || !disableUpdate" (click)="addnew(categoryForm)">Thêm mới</button>
                <button class="btn btn-warning center m-2"[disabled]="disableUpdate" (click)="update(category.id, categoryForm)">Cập nhật</button>
            </div>
        </form>
    </div>
</div>
