<h2 class="p-2">LAPTOP BÁN CHẠY </h2>
<div class="row  row-cols-1  row-cols-md-2 row-cols-xl-3 g-2">
    <div class="col" *ngFor="let sp of listSanPham" >
        <div class="card text-center">
            <img src="{{sp.hinh}}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{sp.tensp}}</h5>
              <p class="h6 mt-3 text-muted">
                Giá : {{sp.giasp|number:'1.0-0':'fr' }} VNĐ
             </p>
            </div>
            <div class="card-footer">
                <a href="" routerLink="/sanpham/{{sp.id}}">
                    <button type="button" class="btn btn-outline-secondary">Xem chi tiết</button>
                </a>
                <button class="btn btn-outline-secondary m-2" type="button" (click)="addToCart(sp)">Thêm vào giỏ</button>
            </div>
          </div>
    </div>
</div>
